@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Fallback para o caso do Google Fonts não carregar */
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Regular'), local('Roboto-Regular');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light');
    font-weight: 300;
    font-style: normal;
} 